html, body {
  margin: 0;
  padding: 0;
  background: #efefef;
}

@media screen and (min-width: 768px) {
  .is-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: none;
  }
}

.inner {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 40px;
  }
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 15px 15px;
}

.header_logo img {
  width: 120px;
  display: block;
}

.header_nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header_nav {
    display: block;
  }
}

.header_link {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}
.header_link + .header_link {
  margin-left: 46px;
}

.drawer_icon {
  position: relative;
  width: 36px;
  height: 21px;
  z-index: 51;
}
@media screen and (min-width: 768px) {
  .drawer_icon {
    display: none;
  }
}

.drawer_icon-bar {
  transition: transform 0.3s linear, top 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  background: #3EA1D1;
}
.drawer_icon-bar:nth-of-type(1) {
  top: 0;
}
.drawer_icon-bar:nth-of-type(2) {
  top: 8px;
}
.drawer_icon-bar:nth-of-type(3) {
  top: 16px;
}

.drawer_contens {
  display: none;
}

.fv_inner {
  max-width: 990px;
  margin-left: auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .fv_contens {
    position: absolute;
    content: "";
    margin-inline: block;
    top: 50%;
    left: -15%;
    transform: translateY(-50%);
    background: white;
    padding: 80px 39px 80px;
  }
}

.fv_contens-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.7;
  margin-top: 30px;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .fv_contens-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.7;
  }
}

.fv_text {
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #333333;
}
.concept {
  padding: 96px 0 96px;
}

.concept_title {
  text-align: center;
  font-family: Noto Serif JP;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  position: relative;
}
.concept_title::after {
  position: absolute;
  content: "";
  margin-top: 24px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #3EA1D1;
  width: 60px;
  height: 1px;
}
@media screen and (min-width: 768px) {
  .concept_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
  }
}

.concept_contens {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .concept_contens {
    margin-top: 64px;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
}

.concept_img {
  margin-top: 46px;
}
.concept_img img {
  width: 345px;
  display: block;
}
@media screen and (min-width: 768px) {
  .concept_img img {
    width: 600px;
  }
}

.concept_contens-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.7;
  margin-top: 34px;
}
.concept_contens-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  margin-top: 22px;
}
.feature_inner {
  margin-left: 15px;
  margin-right: 15px;
}

.feature_title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  position: relative;
}
.feature_title::after {
  position: absolute;
  content: "";
  margin-top: 24px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #3EA1D1;
  width: 60px;
  height: 1px;
}

.feature_list {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .feature_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.feature_items + .feature_items {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .feature_items + .feature_items {
    margin-top: 0;
  }
}

.feature_img {
  margin-top: 46px;
  text-align: center;
}
.feature_img img {
  width: 100%;
}

.feature_contens {
  background: #fff;
  width: 100%;
  padding: 16px;
  text-align: center;
}

.feature_text {
  text-align: center;
  margin-top: 26px;
}
@media screen and (min-width: 768px) {
  .feature_text {
    font-weight: bold;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cta {
  padding-top: 96px;
}

.cta_inner {
  position: relative;
  background: url(../img/sp/sp_img.png) no-repeat center center/cover;
  padding-top: 180px;
  padding-bottom: 50px;
  padding-right: 12px;
  padding-left: 12px;
}
@media screen and (min-width: 768px) {
  .cta_inner {
    background: url(../img/bg\ \(8\).png) no-repeat center center/cover;
    padding-top: 130px;
    padding-left: 40px;
    padding-bottom: 122px;
  }
}

.cta_contens {
  color: #FFFFFF;
}

.cta_title {
  font-family: Noto Serif JP;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 170%;
}
.cta_text {
  margin-top: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .cta_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.7;
  }
}

.products {
  padding: 60px 0;
}

.products_inner {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.products_title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  position: relative;
}
.products_title::after {
  position: absolute;
  content: "";
  margin-top: 24px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #3EA1D1;
  width: 60px;
  height: 1px;
}

.products_list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}
@media screen and (min-width: 768px) {
  .products_list {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}

.products_items + .products_items {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .products_items + .products_items {
    margin-top: 0;
  }
}

.products_contens {
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .products_contens {
    margin-left: 0;
  }
}

.products_img {
  text-align: center;
}
.products_img img {
  width: 263px;
}

.products_text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .products_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
  }
}

.products_cost {
  margin-top: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0%;
  color: #989898;
}

.products_button {
  margin-top: 42px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products_button {
    margin-top: 44px;
  }
}
.products_button a {
  display: inline-block;
  border: solid 1px #3EA1D1;
  padding: 12px 57px;
  color: #3EA1D1;
}

.concept_2 {
  padding: 90px 0;
}