html, body {
  margin: 0;
  padding: 0;
}

$font-jp: 'Noto Sans JP', sans-serif;
$font-en: 'Montserrat', sans-serif;
$width-inner: 1140px;
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.is-pc{
    @include mq(pc) {
    display: none;
  }

}
.is-sp{
    @include mq(sp) {
    display: none;
  }

}
// header
.header{

}
.header_inner {

}
.header_logo{
    img{

    }
}
// ドロワー
.drawer_contens{

}
.drawer_content-menu{

}
.drawer_content-link{

}
// fv
.fv{

}
.fv_inner {

}
.fv_img{
img{

}
}
.fv_contens{

}
.fv_contens-title{

}
.fv_text{
    
}

