html, body {
  margin: 0;
  padding: 0;
}

$font-jp: 'Noto Sans JP', sans-serif;
$font-en: 'Montserrat', sans-serif;
$width-inner: 1140px;
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.is-pc{
    @include mq(pc) {
    display: none;
  }

}
.is-sp{
    @include mq(sp) {
    display: none;
  }

}
.inner{
padding-inline: 15px;
@include mq(pc) {
padding-inline: 40px;
}
}
// header
.header{

}
.header_inner {
display: flex;
align-items: center;
justify-content: space-between;
padding: 19px 15px 15px;

}
.header_logo{
img{
    width: 120px;
    display: block;

}
}
.header_nav{
display: none;
@include mq(pc) {
    display: block;
}

}
.header_link{
font-weight: 300;
font-size: 16px;
line-height: 1.7;
&+&{
margin-left: 46px;

}

}
// ドロワー
.drawer_icon{
position: relative;
width: 36px;
height: 21px;
z-index: 51;
@include mq(pc) {
display: none;
}



}
.drawer_icon-bar{
transition: transform 0.3s linear, top 0.3s linear;
position: absolute;
top: 0;
left: 0;
width: 36px;
height: 3px;
background:#3EA1D1;
&:nth-of-type(1){
top: 0;

}
&:nth-of-type(2){
top: 8px;

}
&:nth-of-type(3){
top: 16px;

}


}
.drawer_contens{
display: none;

}
.drawer_content-menu{

}
.drawer_content-link{

}
// fv
.fv{

}
.fv_inner {
 max-width: 990px;
 margin-left: auto;
 position: relative;

}
.fv_img{
img{
}
}
.fv_contens{
@include mq(pc) {
position: absolute;
content: "";
margin-inline:block ;
top: 50%;
left:-15%;
transform: translateY(-50%);
background: #ffff;
padding: 80px 39px  80px ;
    }

}
.fv_contens-title{
font-weight: 600;
font-size: 26px;
line-height: 1.7;
margin-top: 30px;
color: #333333;
@include mq(pc) {
font-weight: 600;
font-size: 26px;
line-height: 1.7;

}

}
.fv_text{
margin-top: 16px;
font-weight: 300;
font-size: 16px;
line-height: 1.7;
color:#333333 ;
@include mq(pc) {

}
}

